@import "../partials/fonts";
@import "../partials/mixins";
@import "../partials/variables";

.pCard {
  @include normal;
  text-align: center;
  font-size: 18px;
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
  background-color: $beige;
  color: $darkblue;
  width: 57%;
  height: 60vh;

  &__pic {
    width: 100%;
    height: 45%;
    object-fit: contain;
    padding-top: 1rem;
  }
  &__desc {
    padding: 2rem 2rem 0 2rem;
  }
  &__title {
    text-transform: uppercase;
    @include bold;
    font-size: 30px;
    padding-top: 1rem;
  }
  &__icons {
    width: 5%;
    height: 5%;
    margin: 2.5rem;
    // padding-bottom: 10rem;
    cursor: pointer;
  }
}
.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}
