@import "../partials/fonts";
@import "../partials/mixins";
@import "../partials/variables";

.projects {
  margin-bottom: 50rem;
  text-align: center;

  background: $offwhite;
  //   margin-top: 0;
  &__title {
    margin: 0;
    @include light;
    text-transform: uppercase;
    color: $darkbeige;
  }
}
