@import "../partials/fonts";
@import "../partials/mixins";
@import "../partials/variables";

.heroContent {
  // Mobile View
  text-align: center;
  background-color: $offwhite;
  @include normal;
  &__title {
    @include bold;
    font-size: 40px;
    text-transform: uppercase;
    color: $black;
  }
  &__text {
    font-size: 18px;
    padding: 0 0.5rem;
    span {
      color: $darkbeige;
      text-transform: uppercase;
      font-size: 1.2em;
    }
  }

  // Tablet View
  @include tablet {
    &__text {
      padding: 0 3rem;
    }
  }
  // Desktop View
  @include desktop {
    // position: relative;
    // right: 7rem;
    padding-left: 15rem;
    // padding-right: 2rem;
    &__title {
      @include bold;
      font-size: 60px;
      text-transform: uppercase;
      color: $black;
    }
    &__text {
      font-size: 20px;
      span {
        color: $darkbeige;
      }
    }
  }
  @include ultra {
    padding-left: 15rem;
  }
}

.ityped-cursor {
  font-size: 2.2rem;
  opacity: 1;
  -webkit-animation: blink 0.2s infinite;
  -moz-animation: blink 0.2s infinite;
  animation: blink 0.2s infinite;
  animation-direction: alternate;
}

@keyframes blink {
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes blink {
  100% {
    opacity: 0;
  }
}

@-moz-keyframes blink {
  100% {
    opacity: 0;
  }
}
