@import "../partials/fonts";
@import "../partials/mixins";
@import "../partials/variables";

.hero {
  height: 65vh;
  background-color: $offwhite;

  &__container {
    background-color: rgb(198, 177, 159);
    width: 100%;
    height: inherit;
  }

  // DESKTOP VIEW

  @include desktop {
    height: 100vh;
    display: flex;
    align-items: center;
    // justify-content: space-around;
    background-color: $offwhite;
    &__container {
      background-color: rgb(198, 177, 159);
      width: 37.3%;
      height: inherit;
    }
  }

  @include ultra {
    &__container {
      // background-color: red;
      width: 45%;
    }
  }
}
