$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
$ultra: 1440px;
$mercury: #e1e1e1;
$offwhite: #fafafa;
$ice: rgb(204, 226, 233);
$black: rgba(0, 0, 0, 0.845);
$beige: rgb(220, 206, 194);
$darkblue: #05203b;
$navy: #13182c;
$darkgold: #857233;
$darkbeige: rgb(198, 177, 159);
