@import "../partials/fonts";
@import "../partials/mixins";
@import "../partials/variables";

.contact__header {
  margin: 0rem;
  padding: 3rem;
  padding-bottom: 1rem;
  @include bold;
  text-transform: uppercase;
  font-size: 2rem;
  color: $darkbeige;
  text-align: center;
  //   background: $offwhite;
}
.contact-body {
  // background: $offwhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-image: url("../../assets/pics/open.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  // padding-bottom: 10rem;
}

// Views

.contact {
  // Mobile
  height: 100vh;
  display: flex;
  border-radius: 15px;
  overflow: hidden;
  padding: 10px;
  height: 83%; //--------------------------------------- height of the big card
  backdrop-filter: blur(5px);
  border: 1.5px solid $offwhite;
  -webkit-box-shadow: 0px 8px 30px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 8px 30px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 8px 30px 0px rgba(0, 0, 0, 0.75);
  flex-direction: column;
  &__info {
    height: 15vh; //------------------------------ height of the contact info
    background: $beige;
    flex: 0 1 30%;
    border-radius: 15px;
    padding: 40px;
    color: $offwhite;
    display: flex;
    flex-direction: column;
    &-header {
      text-transform: uppercase;
      @include normal;
      font-size: 1.2rem; // change this for tablet view
      //   margin-top: 0;
      margin: 0 0 1rem 0; // change this for tablet view
    }
    &:hover {
      background: $darkbeige;
      color: $darkblue;
    }
    &-content {
      font-size: 1rem;
      @include light;
      margin-bottom: 1rem; // ----------------------change this for tablet view
    }
    .span-content {
      font-size: 1rem;
      @include light;
    }

    .icon-text {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 2rem;
    }

    .socials {
      display: flex;
      // width: 50%; //--------------------------------------change this for tablet and desktop

      justify-content: space-evenly;
      .icon-circle {
        flex: 0 1 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        border-radius: 50%;

        transition: 0.3s all ease-in-out;
        &:hover {
          background: $ice;
        }
      }
    }

    // .mylogo {
    //   background-image: url("../../assets/icons/logo2.png");
    //   background-size: cover;
    //   background-repeat: no-repeat;
    //   width: 30%;
    //   height: 30vh;
    //   // background: red;
    // }
  }

  form {
    margin-top: 1rem;
    .col {
      display: flex;
      // align-items: center;
      flex-direction: column;
      // width: 100%;
      overflow: hidden;

      .form-group {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        // width: 40%;

        padding-right: 40px;
        label {
          font-size: 1rem;
          color: $darkblue;
          @include light;

          width: 100%;
        }
        input[type="text"],
        input[type="email"],
        input[type="tell"],
        textarea {
          background: rgba(255, 255, 255, 0.2);
          background: transparent;
          border: none;
          border-bottom: 2px solid $darkblue;
          padding: 10px;
          font-size: 1rem;
          cursor: pointer;
          resize: none;
          @include light;
          transition: 0.5s all ease-in-out;
          margin-bottom: 2rem;
          &:focus {
            outline: none;
            border-bottom: 2px solid salmon;
          }
        }
      }
    }
  }
}

// Tablet View
.contact {
  @include tablet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 35%;
    &__info {
      height: 25vh;
      margin-right: 1rem;
      &-header {
        margin: 0 0 2rem 0;
        font-size: 1.5rem;
      }
      &-content {
        font-size: 1.1rem;
        @include light;
        margin-bottom: 1.5rem;
      }
    }
    form {
      margin-top: 1rem;
    }
  }
}

//Pro
.contact {
  @include pro {
    height: 27%;
    width: 65%;
    &__info {
      height: 20vh;
    }
  }
}

// Desktop

.contact {
  @include desktop {
    width: 50%;
    height: 50%;
  }
  &__info {
    height: 32vh;
  }
}

.contact {
  @include ultra {
    width: 38%;
    height: 45%;
  }
  &__info {
    height: 32vh;
  }
}
